//****************
//  Colors
//****************
$green: #68b738;
$gray: #444444;
$gray-light: #f2f2f2;

//****************
//  Breakpoints
//****************
$breakpoint-desktop: 1300px;
$breakpoint-tablet: 768px;
$breakpoint-max-mobile: 767px;
